/* #f8B195, #f67280, #c06c84, #6c5b7b, #355c7d */

.layout-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.cv-form-container {
}

/* .cv-form-header{
    min-height: 150px;
    display: flex;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: "header-image", "header-info", "header-addl-info";
} */

.cv-setting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #f8b195;
}

label {
  font-weight: bolder;
}
input {
  /* min-width: 250px; */
  width: 100%;
  height: 35px;
  border: 1px solid #355c7d;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background: transparent;
  color: black;
}

::placeholder {
  color: #6c5b7b;
}

.section-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f8b195;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.add-section-button,
.delete-section-button {
  background: #6c5b7b;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;

}

.section-heading {
  font-weight: bold;
}

.top-level-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}

.date-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 100px;
  margin-right: 10px;
}

.start-date {
  margin-right: 10px;
}

.bottom-level-details {
  margin-right: 10px;
}

.experience-details {
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #355c7d;
  background: transparent;
}

.cv-form-experience,
.cv-form-education,
.cv-form-skill {
  margin-bottom: 25px;
}

.delete-experience,
.delete-education,
.delete-skill {
  width: 98%;
  background-color: #c06c84;
  color: white;
  border: none;
  border-radius: 5px;
}

.program-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-right: 10px;
}

.program-details {
  margin-right: 100px;
}
.program-dates {
  display: flex;

  justify-content: right;
}

.skill {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right: 5px;
    align-items: center;
  }

.skill > .skill-container > .skill-section{
    display: flex;
    align-items: center;
}

.skill > .skill-container {
    margin-top: 10px;
    flex-grow: 3;
  }

.skill-section {
  margin-right: 10px;
  margin-bottom: 10px;
}
