/* #f8B195, #f67280, #c06c84, #6c5b7b, #355c7d */

/* .layout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.form-container {
  display: block
}

.cv-form-experience,
.cv-form-education,
.cv-form-skill,
.view-experience-container,
.view-education-container,
.view-skill-container  {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f8b195;
  padding-bottom: 5px;
}

.experience-container, 
.education-container,
.skill-container {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px dotted lightgray;
  border-radius: 5px;
  padding: 5px;
}


.section-heading {
  font-weight: bold;
}

.add-section-button,
.delete-section-button {
  background: #6c5b7b;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;

}

.experience-grid, .education-grid, .skill-grid {
  display: grid;
  grid-template-columns: 10fr 40px; 
}


.delete-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.delete-container > button {
  border: none;
  background: white;
}

.skill-container > .delete-container {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: right;
}


.view-container {
  margin-top: 10px;
  margin-left: 10px;
  
}