.banner-container {
  margin-bottom: 20px;
}
.banner {
  font-weight: bolder;
}
.header-container {
  display: flex;
}

.header-info-container {
  display: block;
  flex-grow: 2;
}

.header-info-container > input {
  margin-bottom: 5px;
}

.header-other {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.header-other > input {
  display: block;
}

.header-other > i {
  width: 20px;
}
.header-info-container,
.header-other-container {
  padding: 10px;
}

input,
textarea {
  width: 100%;
  height: 35px;
  border: 1px solid #355c7d;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background: transparent;
  color: black;
}
i {
  color: #c06c84;
}

textarea {
  min-height: 75px;
  max-height: 75px;
}

/* EXPERIENCE */
.top-level-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* margin-top: 20px; */
}

.date-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5px;
  margin-right: 10px;
  min-width: 200px;
}

.start-date {
  margin-right: 10px;
}

.bottom-level-details {
  margin-right: 10px;
}

.experience-details {
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #355c7d;
  background: transparent;
}

label {
  font-family: "Poppins";
  font-weight: 400;
}
input {
  /* min-width: 250px; */
  width: 100%;
  height: 35px;
  border: 1px solid #355c7d;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background: transparent;
  color: black;
}

::placeholder {
  color: #6c5b7b;
}

.program-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 10px;
}

.program-details {
  margin-right: 5px;
}
.program-dates {
  display: flex;
  justify-content: right;
}