.banner-container {
    margin-bottom: 20px;
}
.banner {
    font-weight: bolder;

}
.header-container {
    display: flex;
}

.header-info-container {
    display: block;
    flex-grow: 2;
}

.header-info-container > input {
    display: block;
    margin-bottom: 5px;
}

.header-other {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.header-other > input{
    display: block;
}

.header-info-container, .header-other-container {
    padding: 10px;
}

input, textarea {
    width: 100%;
    height: 35px;
    border: 1px solid #355c7d;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background: transparent;
    color: black;
    
}
i {
    margin-right: 8px;
    color: #c06c84;
}

textarea {
    min-height: 75px;
    max-height: 75px;
}
